body{
    margin: 0;
}

.child{
    height: 100%;
}

.item-0{
    background-color: aqua;                                 /*header*/
    grid-area: header;
    /* grid-column: 1/4;*/                                         /*copri da uno a TRE*/
    /* grid-row: 1; */
}

.item-1{
    background-color: blueviolet;                           /*left*/
    grid-area: left;
}

.item-2{
    background-color: darkcyan;                             /*center*/
    grid-area: center;
}

.item-3{
    background-color: darkgreen;                            /*right*/
    grid-area: right;
}

.item-4{
    background-color: deeppink;                             /*footer*/
    grid-area: footer;
}

.item-5{
    background-color: tomato;                               /*link*/
    grid-area: link;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 300px 1fr 200px;
    grid-template-areas: "header header header"
                         "left center right"
                         "footer footer link";
    gap: 4px;
}

@media (max-width: 767px){
    .grid-container{
        grid-template-rows: 200px 100px 1fr 100px 150px;
        grid-template-areas: "header header header"
                             "left left left"
                             "center center right"
                             "link link link"
                             "footer footer footer";
    }

}

@media (max-width: 480px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 200px 100px 1fr 100px 150px;
        grid-template-areas: "header"
                             "left"
                             "center"
                             "link"
                             "footer";
    }

}